.navbarStatus {
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

// .navbarCells {
//   display: inline-block;
//   cursor: pointer;
//   margin: 4px;
//   width: 30px;
//   height: 30px;
//   background: #828fd4;
//   color: #ffffff;
// }

// .navbarCellsActive {
//   display: inline-block;
//   width: 30px;
//   height: 30px;
//   background: #3f51b5;
// }

.navbarCenter {
  text-align: center;
}

.navbarCellNum {
  display: inline-block;
  line-height: 30px;
}
