<div class="pagecontainer">
  <div class="text-center">
    <h2>Home</h2>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example1a
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page01']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page01/page01.component.html" target="_blank">Page01 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page01/page01.component.ts" target="_blank">Page01 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty01"></pre>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example1b
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page02']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page02/page02.component.html" target="_blank">Page02 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page02/page02.component.ts" target="_blank">Page02 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty02"></pre>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example1c
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page03']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page03/page03.component.html" target="_blank">Page03 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page03/page03.component.ts" target="_blank">Page03 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty03"></pre>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example1d
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page04']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page04/page04.component.html" target="_blank">Page04 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page04/page04.component.ts" target="_blank">Page04 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty04"></pre>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example1f
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page05']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page05/page05.component.html" target="_blank">Page05 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page05/page05.component.ts" target="_blank">Page05 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty05"></pre>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example1g
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page06']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page06/page06.component.html" target="_blank">Page06 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page06/page06.component.ts" target="_blank">Page06 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty06"></pre>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example2h
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page07']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page07/page07.component.html" target="_blank">Page07 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page07/page07.component.ts" target="_blank">Page07 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty07"></pre>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example2i
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page11']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page11/page11.component.html" target="_blank">Page11 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page11/page11.component.ts" target="_blank">Page011 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty02"></pre>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example2l
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page12']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page12/page12.component.html" target="_blank">Page12 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page12/page12.component.ts" target="_blank">Page12 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty12"></pre>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            example2l
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <a [routerLink]="['/page13']">Demo</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page13/page13.component.html" target="_blank">Page13 html</a>&nbsp;
          <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page13/page13.component.ts" target="_blank">Page13 ts</a>&nbsp;
          <pre [innerHTML]="htmlProperty13"></pre>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
