<div class="pagecontainer">
  <div class="text-center">
    <h2>This is a master-deteil control for Angular (it is a preview)</h2>

    <div class="homeBox1">
      <a href="https://github.com/mastefano64/AppMasterDetail" target="_blank">
        You can find the project on GitHub at this link
      </a>
    </div>

    <div class="homeBox2">
      MasterDetail is an Angular control that allows the display of data sources that are linked by a master-detail relationship.
      It offers various features, including pagination, list view, tabular view, insertion, editing, deletion, grouping/field
      (if tabular view is being used), creation of custom detail panels, etc... The various panels: "list", "tabular" or "custom";
      however, they can be individually enabled/disabled.<br>

      <br>

      The control supports 2 types of paging (internal/external): 1) the data is read all together and then paged through an
      internal navigation bar (example1a, example1b, example1c, example1d, example1f, example1g, example1h). 2) one piece of data
      is read at a time, passed to the MasterDetail control and paged through an external navigation bar. A "data source" external
      to the control is used, which is responsible for making the related rest calls (example2i, example2l, example2l ).<br>

      <br>

      Il layout è gestito: 1) attraverso un oggetto di configurazione che viene poi passato al controllo MasterDetail e
      mediante il quale si attivano o si disabilitano le varie funzionalità. 2) attraverso dei template contenuti tra il
      tag di apertura e chiusura del controllo MasterDetail.<br>
    </div>

    <div class="homeBox3">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example1a
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page01']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page01/page01.component.html" target="_blank">Page01 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page01/page01.component.ts" target="_blank">Page01 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty01"></pre>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example1b
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page02']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page02/page02.component.html" target="_blank">Page02 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page02/page02.component.ts" target="_blank">Page02 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty02"></pre>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example1c
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page03']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page03/page03.component.html" target="_blank">Page03 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page03/page03.component.ts" target="_blank">Page03 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty03"></pre>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example1d
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page04']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page04/page04.component.html" target="_blank">Page04 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page04/page04.component.ts" target="_blank">Page04 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty04"></pre>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example1f
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page05']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page05/page05.component.html" target="_blank">Page05 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page05/page05.component.ts" target="_blank">Page05 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty05"></pre>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example1g
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page06']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page06/page06.component.html" target="_blank">Page06 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page06/page06.component.ts" target="_blank">Page06 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty06"></pre>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example1h
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page07']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page07/page07.component.html" target="_blank">Page07 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page07/page07.component.ts" target="_blank">Page07 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty07"></pre>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example2i
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page11']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page11/page11.component.html" target="_blank">Page11 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page11/page11.component.ts" target="_blank">Page011 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty11"></pre>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example2l
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page12']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page12/page12.component.html" target="_blank">Page12 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page12/page12.component.ts" target="_blank">Page12 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty12"></pre>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              example2l
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a [routerLink]="['/page13']">Demo</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page13/page13.component.html" target="_blank">Page13 html</a>&nbsp;
            <a href="https://github.com/mastefano64/AppMasterDetail/blob/developer-v0.001/src/app/components/page13/page13.component.ts" target="_blank">Page13 ts</a>&nbsp;
            <pre [innerHTML]="htmlProperty13"></pre>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
