.panelMasterListSide {

}

.inputsearch {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
}

.inputsearchSx {
  flex: 1 1 100%;
}

.inputsearchDx {
  flex: 0 1 50x;
}
